<div class="container" (keyup)="onKeyUp($event)" (keydown)="onKeyDown($event)" tabindex="1">
  <p>
    <a routerLink="/dashboard">&lt; Dashboard</a>
  </p>

  <div class="row">
    <div class="col-sm-3">
      <app-categories></app-categories>
    </div>
    <div class="col-sm-9">
      <div class="text-right">
        <a routerLink="/category/{{id}}/edit" class="btn btn-success btn-raised">
          Edit Category
        </a>
      </div>
      <div class="row">
        <div class="col-xs-12 text-right">
          <span class="btn btn-raised btn-primary" (click)="toggleNewDataset()">
            New Dataset
          </span>
        </div>
        <div class="row">
          <app-create-dataset *ngIf="createNewDataset" class="col-xs-12" (onShow)="onShow($event)"></app-create-dataset>
        </div>
      </div>
      <div class="clearfix" *ngIf="items">
        <div class="row datasetRow" *ngFor="let item of items; let i = index;" [class.active]="i == selectedDataset" (click)="selectDataset($event, i)">
          <div class="col-sm-3"><small>{{ item.title }}</small></div>
          <div class="col-sm-2">{{ item.username }}</div>
          <div class="col-sm-4">{{ item.description }}</div>
          <div class="col-sm-2">{{ item.note }}</div>
          <div class="col-sm-1"><small><a routerLink="/dataset/{{ item._id }}">Go</a></small></div>
        </div>
        <input id="selectedDatasetInput" #passInput type="text" [(ngModel)]="activePassword">

      </div>
      <div *ngIf="items.length < 1">
        <h3>In dieser Kategorie gibt es keine Datensätze</h3>
      </div>
      <p>{{ message }}</p>
    </div>
  </div>
</div>
