<div class="container">
  <div class="form-group label-static">
    <label for="username" class="control-label">Username</label>
    <input id="username" type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
  </div>

  <div class="form-group label-static">
    <label for="password" class="control-label">Password</label>
    <input id="password" type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
  </div>

  <div class="form-group label-static">
    <span (click)="login()" class="btn btn-raised btn-info">Login</span>
  </div>
</div>