<ul *ngIf="categories" id="categories">
  <template *ngFor="let category of categories">
    <li class="list-item" [class.active]="category._id == activeCategory">
      {{ category.name }}
    </li>
  </template>
</ul>

<app-category-tree [categories]="categoriesStructured"></app-category-tree>

<div class="create">
  <span (click)="showCreate()" class="btn btn-primary btn-raised">
    <span *ngIf="showCreateField">-</span>
    <span *ngIf="!showCreateField">+</span>
    <span class="btn-text">Create</span>
  </span>
</div>

<div class="form" *ngIf="showCreateField">
  <div class="form-group label-static">
    <label for="title" class="control-label">Title</label>
    <input id="title" type="text" class="form-control" placeholder="Title" [(ngModel)]="newTitle">
  </div>

  <div class="form-group label-static">
    <label class="control-label">Parent</label>
    <select id="" [(ngModel)]="newParentCategory" class="form-control">
      <option value="0"></option>
      <option *ngFor="let cat of categories" [ngValue]="cat._id">
        {{ cat.name }}
      </option>
    </select>

  </div>

  <div class="form-group label-static">
    <span (click)="create()" class="btn btn-raised btn-info">Save</span>
  </div>
</div>
