<div class="form">
  <div class="form-group label-static">
    <label for="title" class="control-label">Title</label>
    <input id="title" type="text" class="form-control" placeholder="Title" [(ngModel)]="title">
  </div>
  <div class="form-group label-static">
    <label for="title" class="control-label">Category</label>
    <select id="" [(ngModel)]="category" class="form-control">
      <option value="0"></option>
      <option *ngFor="let cat of categories" [ngValue]="cat._id">
        {{ cat.name }}
      </option>
    </select>
  </div>
  <div class="form-group label-static">
    <label for="username" class="control-label">Username</label>
    <input id="title" type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
  </div>
  <div class="form-group label-static">
    <label for="password" class="control-label">Password</label>
    <input id="title" type="text" class="form-control" placeholder="Password" [(ngModel)]="password">
  </div>
  <div class="form-group label-static">
    <label for="description" class="control-label">Description</label>
    <input id="title" type="text" class="form-control" placeholder="Description" [(ngModel)]="description">
  </div>
  <div class="form-group label-static">
    <label for="url" class="control-label">URL</label>
    <input id="url" type="text" class="form-control" placeholder="URL" [(ngModel)]="URL">
  </div>
  <div class="form-group label-static">
    <label for="note" class="control-label">Note</label>
    <input id="note" type="text" class="form-control" placeholder="Note" [(ngModel)]="note">
  </div>
  <div class="form-group label-static">
    <label for="expire_date" class="control-label">Expire Date</label>
    <input id="expire_date" type="text" class="form-control" placeholder="Expire Date" [(ngModel)]="expire_date">
  </div>
  <div class="form-group label-static">
    <label for="tags" class="control-label">Tags</label>
    <input id="tags" type="text" class="form-control" placeholder="Tags" [(ngModel)]="tags">
  </div>
  <div class="form-group">
    <span class="btn btn-primary btn-raised" (click)="saveNewDataset()">
        Save
    </span>
  </div>
</div>