<div class="container">
  <button class="btn btn-success btn-raised" (click)="goBack()">Back</button>
  <div class="form">
    <div class="form-group label-static">
      <label for="title" class="control-label">Title</label>
      <input id="title" type="text" class="form-control" placeholder="Title" [(ngModel)]="title">
    </div>
    <div class="form-group label-static">
      <label for="title" class="control-label">Category</label>
      <select id="" [(ngModel)]="category" class="form-control">
        <option value="0"></option>
        <option *ngFor="let cat of categories" [ngValue]="cat._id">
          {{ cat.name }}
        </option>
      </select>
    </div>
    <div class="form-group label-static">
      <label for="username" class="control-label">Username</label>
      <input id="username" type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
    </div>
    <div class="form-group label-static">
      <label for="password" class="control-label">Password</label>
      <input id="password" type="text" class="form-control" placeholder="Password" [(ngModel)]="password">
      <div class="policies">
        <select name="policies" id="policies" class="form-control" [(ngModel)]="policy">
          <option *ngFor="let policy of policies" [ngValue]="policy._id">{{ policy.name }}</option>
        </select>
        <span class="btn btn-primary btn-generate-pass" (click)="getGeneratedPassword()">
        Generate Password
      </span>
      </div>
    </div>
    <div class="form-group label-static">
      <label for="description" class="control-label">Description</label>
      <input id="description" type="text" class="form-control" placeholder="Description" [(ngModel)]="description">
    </div>
    <div class="form-group label-static">
      <label for="url" class="control-label">URL</label>
      <input id="url" type="text" class="form-control" placeholder="URL" [(ngModel)]="URL">
    </div>
    <div class="form-group label-static">
      <label for="note" class="control-label">Note</label>
      <input id="note" type="text" class="form-control" placeholder="Note" [(ngModel)]="note">
    </div>
    <div class="form-group label-static">
      <label for="expire_date" class="control-label">Expire Date</label>
      <input id="expire_date" type="text" class="form-control" placeholder="Expire Date" [(ngModel)]="expire_date">
    </div>
    <div class="form-group label-static">
      <label for="tags" class="control-label">Tags</label>
      <input id="tags" type="text" class="form-control" placeholder="Tags" [(ngModel)]="tags">
    </div>
    <div class="form-group">
      <p> &nbsp; {{ msg }} &nbsp;</p>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-raised" (click)="editDataset()" [disabled]="isAwaiting">
        Save
      </button>
      <button class="btn btn-primary btn-raised" (click)="editDataset('back')" [disabled]="isAwaiting">
        Save & Back
      </button><br />
      <button class="btn btn-danger btn-raised" (click)="deleteDataset()">
        Delete
      </button>
    </div>
  </div>
</div>
