<h1>
  <a routerLink="/">{{ title }}</a>
</h1>

<div style="float:right"><a routerLink="/settings">Settings</a></div>

<div class="form-group">
  <input type="text" class="form-control" placeholder="Input for Testing">
</div>

<router-outlet></router-outlet>
