<ul *ngIf="categories" class="categories">
  <li *ngFor="let category of categories">
    <a routerLink="/category/{{category._id}}">{{ category.name }}</a>
    <app-category-tree *ngIf="category.children" [categories]="category.children"></app-category-tree>
  </li>
</ul>
