<div class="bs-component">
  <ul class="nav nav-tabs" style="margin-bottom: 15px;">
    <li [class]="active === 'general' ? 'active' : ''">
      <a routerLink="/settings">
        General Settings
      </a>
    </li>
    <li [class]="active === 'policies' ? 'active' : ''">
      <a routerLink="/settings/policies">
        Policies
      </a>
    </li>
    <li [class]="active === 'users' ? 'active' : ''">
      <a routerLink="/settings/users">
        Users
      </a>
    </li>
    <li [class]="active === 'roles' ? 'active' : ''">
      <a routerLink="/settings/roles">
        Roles
      </a>
    </li>
  </ul>
</div>
