<div class="container">
  <p>
    dashboard works!
  </p>

  <div class="row">
    <div class="col-sm-3">
      <app-categories></app-categories>
    </div>
    <div class="col-sm-9">
      <h2>Welcome to HTML5 Password Manager</h2>
    </div>
  </div>
</div>