@import 'material/_bootstrap.scss';
@import 'material/bootstrap-material-design';

@mixin containerWidth($width) {
  @media(min-width: $width) {
    .container {
      width: $width;
      max-width: 95%;
    }
  }
}


@include containerWidth(1400px);
@include containerWidth(1600px);

.text-right {
  text-align: right;
}